*,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixel Emulator';
}
:root{
    --light-gray: rgb(200,207,224);
    --dark-gray: rgb(82,85,92);
}
@font-face {
    font-family: 'Pixel Emulator';
    src: url('../Fonts/PixelEmulator.eot') format('embedded-opentype');
    src: url('../Fonts/PixelEmulator.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PixelEmulator.woff2') format('woff2'),
        url('../Fonts/PixelEmulator.woff') format('woff'),
        url('../Fonts/PixelEmulator.svg#PixelEmulator') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@keyframes flash{
    0%  {text-shadow: 0px 0px 0px white;}
    50% {text-shadow: 3px 3px 2px white;}
    100%{text-shadow: 0px 0px 0px white;}
}
@keyframes glow{
    0%  {color: gray;}
    50% {color: white;}
    100%{color: gray;}
}
@keyframes lightning-flash {
    from{ opacity: 0; } 
    92% { opacity: 0; }
    93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 1; } 
    to  { opacity: 0; }
}
@keyframes lightning-flash-text-shadow {
    from{ text-shadow: 4px 6px 2px rgba(255,255,255,0);} 
    92% { text-shadow: 4px 6px 2px rgba(255,255,255,0);}
    93% { text-shadow: 4px 6px 2px rgba(255,255,255,0.6);}
    94% { text-shadow: 4px 6px 2px rgba(255,255,255,0.2);}
    96% { text-shadow: 4px 6px 2px rgba(255,255,255,1);} 
    to  { text-shadow: 4px 6px 2px rgba(255,255,255,0);}
}
@keyframes appear{
    from {opacity: 0;}
    to   {opacity: 1;}
}
@keyframes spin{
    from {transform:rotate(0deg);}
    to   {transform:rotate(360deg);}
}
html{
    font-size: 10px;
    font-family:'Pixel Emulator';
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}

/* NAVBAR */
header{
    position: relative;
}
.lightning-effect{
    position: absolute;
    height: 5vw;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 120px white;
    animation: lightning-flash 1s infinite;
    z-index: 1;
}
.nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    z-index: 2;
    background-image: url(/Images/rainclouds.png);
    object-fit: cover;
    background-size: 80rem;
    background-repeat: repeat-x;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
}
.nav-item{
    font-size: clamp(0.5rem, 1vw, 3rem);
    padding: 0 3rem 5em 3rem;
}
.nav-link{
    text-decoration: none;
    font-size: clamp(0.5rem, 1vw, 3rem);
    color:var(--dark-gray);
    background-color: var(--light-gray);
    font-weight: bold;
    margin: 0 auto;
    padding: 0.2em 0.2em 0.2em;
    border: green 2px solid;
    animation: lightning-flash-text-shadow 7s infinite;
}
.text:hover{
    animation: flash 0.3s infinite;
}

.main-container{
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/770526750794308314/92DCF06EF0E39A7C49FA6D09DF42087582425F8A/');
    background-size: cover;
    background-repeat: no-repeat;
}
/* HERO */
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    line-height: 1;
}
.about-me-container{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color:rgba(255,255,255,0.5);
}
.about-me-container h1{
    font-size: 12rem;
    color: var(--light-gray);
    text-transform: uppercase;
    z-index: 2;
}
.about-me-container p{
    font-size: 3rem;
    color: var(--light-gray);
    z-index: 2;
    margin-top: 1.5rem;
}
.finn{
    animation: glow 1.5s infinite;
}
.contact-me-icon{
    display: inline-block;
    margin: 0.4em 0.4em 0.4em 0;
    font-size: clamp(2.3rem, 5vw, 6rem);
    color: var(--light-gray);
}
.icon{
    transition: transform .3s ease-out;
    z-index: 2;
}
.icon:hover{
    color: white;
}

/*ICON HOVER APPEAR EFFECT*/
.insta{
    position: relative;
}
.insta::after{
    transform:translateX(-50%) scale(0) translateY(1000%);
    display: flex;
    content: 'INSTAGRAM';
    font-size: clamp(11px, 3vw, 5rem);
    color: white;
    top: 100%;
    left: 50%;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
.insta:hover::after{
    transform:translateX(-50%) scale(1) translateY(20%);
}
.fb{
    position: relative;
}
.fb::after{
    transform:translateX(-50%) scale(0) translateY(1000%);
    display: flex;
    content: 'FACEBOOK';
    font-size: clamp(11px, 3vw, 5rem);
    color: white;
    top: 100%;
    left: 50%;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
.fb:hover::after{
    transform:translateX(-50%) scale(1) translateY(20%);
}
.tt{
    position: relative;
}
.tt::after{
    transform:translateX(-50%) scale(0) translateY(1000%);
    display: flex;
    content: 'TWITTER';
    font-size: clamp(11px, 3vw, 5rem);
    color: white;
    top: 100%;
    left: 50%;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
.tt:hover::after{
    transform:translateX(-50%) scale(1) translateY(20%);
}
.env{
    position: relative;
}
.env::after{
    transform:translateX(-50%) scale(0) translateY(1000%);
    display: flex;
    content: 'EMAIL';
    font-size: clamp(11px, 3vw, 5rem);
    color: white;
    top: 100%;
    left: 50%;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
.env:hover::after{
    transform:translateX(-50%) scale(1) translateY(20%);
}
.wa{
    position: relative;
}
    .wa::after{
    transform:translateX(-50%) scale(0) translateY(1000%);
    display: flex;
    content: 'WHATSAPP';
    font-size: clamp(11px, 3vw, 5rem);
    color: white;
    top: 100%;
    left: 50%;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
.wa:hover::after{
    transform:translateX(-50%) scale(1) translateY(20%);
}

/* MY PROJECTS SECTION */
.hi{
    width: 50%;
    border: 2px solid white;
}
.my-projects-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
    min-width: 450px;
    max-width: 700px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: var(--dark-gray) solid 1.2rem;
    background: var(--light-gray)
}
.my-projects-header{
    text-align: center;
    font-size: 6rem;
    color: var(--dark-gray);
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 102.4%;
    border: var(--dark-gray) solid 1.2rem;
    border-right: none;
    background: var(--light-gray);
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -1.35rem;
}
.my-projects__container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.img-slide{
    height: fit-content;
    width: 100%;
}
.img-text{
    text-align: center;
    font-size: clamp(0.6rem, 1vw, 5rem);
    margin: 10px 0;
    color: var(--dark-gray);
}
.img-text-big{
    text-align: center;
    font-size: clamp(1rem, 2vw, 5rem);
    padding: 1.6rem 0;
    color: var(--dark-gray);
}
.single-img{
    height: auto;
    width: fit-content;
}

.my-projects-pictures{
    border-right: var(--light-gray) solid 0.6rem;
    border-left: var(--light-gray) solid 0.6rem;
    padding-bottom: 1.2rem;
}
