html {
       scroll-behavior: smooth;
}

.moving-rectangle {
       position: fixed;
       height: 100px;
       width: 130px;
       background: #282828;
       height: 100vh;
       right: 435px;
       z-index: -1;
}

.main {
       font-family: "Roboto", sans-serif;
       background: #201e1e;
       margin: 0;
       padding: 0;
       scroll-behavior: smooth;
}

.nav {
       display: flex;
       justify-content: space-around;
       position: fixed;
       right: 0;
       margin-right: 48px;
       margin-top: 48px;
}

.nav-item {
       text-decoration: none;
       cursor: pointer;
       color: rgba(92, 184, 140, 1);
       margin-left: 32px;
       margin-right: 32px;
       font-size: 1.3rem;
       flex: 1;
}

.intro-section {
       display: flex;
       min-height: 100vh;
}

.intro-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin-right: 50px;
       margin-bottom: 100px;
       width: 100%;
}

.intro-header {
       font-size: 5rem;
       color: rgba(92, 184, 140, 1);
       line-height: 1.1;
       font-weight: bold;
}

.intro-message {
       font-size: 3.5rem;
       color: rgba(92, 184, 140, 0.8);
       line-height: 1.15;
       font-weight: normal;
}

.about-me-section {
       display: flex;
       min-height: 100vh;
}

.about-me-container {
}

.about-me-header {
       font-size: 5rem;
       color: rgba(92, 184, 140, 1);
}

.about-me-message {
       max-width: 42ch;
       font-size: 1.2rem;
       color: rgba(92, 184, 140, 0.8);
}
