* {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
}

body {
       overflow: hidden; /* Hide scrollbars */
       color: rgb(223, 223, 223);
       background: #131313;
}

html {
       scroll-behavior: smooth;
}

.main {
       font-family: "Roboto", sans-serif;
       display: flex;
       flex-direction: column;
       align-items: center;
}

.scroll-text {
       position: fixed;
       right: 40px;
       top: 80%;
       cursor: default;
       font-size: 1.5rem;
       animation: slideToLeft 0.8s;
}

@keyframes slideToLeft {
       0%,
       50% {
              transform: translateX(100%);
              opacity: 0;
       }

       60%,
       100% {
              transform: translateY(0);
              opacity: 1;
       }
}

@keyframes slideToRight {
       0%,
       50% {
              transform: translateX(0);
              opacity: 1;
       }

       60%,
       100% {
              transform: translateX(100%);
              opacity: 0;
       }
}

.scrollbar {
       top: 50%;
       width: 10px;
       position: fixed;
       height: 11vh;
       background: rgb(223, 223, 223);
       right: 20px;
       z-index: 2;
       display: flex;
       flex-direction: column;
       gap: 2px;
       transition: transform 0.06s linear;
       cursor: pointer; /* Set the cursor to indicate grabbing */
}

.scrollbar-container {
       top: 50%;
       width: 10px;
       position: fixed;
       height: 33vh;
       background: #282828;
       right: 20px;
       z-index: 1;
       display: flex;
       flex-direction: column;
       cursor: pointer;
}

.scrollbar-section {
       box-sizing: border-box;
       flex-grow: 1;
       width: 100%;
       border-bottom: rgb(55, 61, 58) 4px solid;
}

.borderless {
       border: none;
}

.logo {
       position: absolute;
       top: -110px;
       left: -100px;
       width: 300px;
       height: 300px;
       border-radius: 50%;
       transform: scale(0.22);
}
.logo-text {
       width: 100%;
       height: 100%;
       position: absolute;
       animation: rotating 10s linear infinite;
}

@keyframes rotating {
       0% {
              transform: rotate(0deg);
       }
       100% {
              transform: rotate(360deg);
       }
}

.logo-text span {
       position: absolute;
       left: 50%;
       font-size: 2.2rem;
       transform-origin: 0 150px;
}

.nav {
       position: fixed;
       display: flex;
       width: 100%;
       align-items: center;
       justify-content: space-between;
       padding-top: 28px;
       padding-bottom: 28px;
       background: rgba(19, 19, 19, 0.8);
}

.nav-container {
       display: flex;
       justify-content: space-around;
       align-items: center;
       right: 0;
       margin-right: 48px;
       width: 500px;
}

.nav-item {
       text-decoration: none;
       cursor: pointer;
       font-size: 1.3rem;
       text-align: center;
       color: rgb(223, 223, 223);
}

.nav-item-container {
       width: 100%;
       text-align: center;
}

.email {
       margin-left: 95px;
       font-size: 1.2rem;
}

.intro-section {
       min-height: 100vh;
       min-height: 100dvh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 70vw;
}

.intro-header {
       font-size: 5rem;
       line-height: 1.05;
       font-weight: bold;
       margin-bottom: 45px;
}

.intro-message {
       font-size: 3.5rem;
       line-height: 1.15;
       font-weight: normal;
}

.about-me-section {
       display: flex;
       justify-content: space-between;
       align-items: center;
       min-height: 100vh;
       min-height: 100dvh;
       font-size: 1rem;
       width: 70vw;
}

.about-me-description-container {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
}

.about-me-description-header {
       font-size: 5rem;
       margin-bottom: 30px;
}

.about-me-description-message {
       max-width: 44ch;
       font-size: 1.3rem;
       line-height: 1.5;
}

.about-me-image-container {
       display: flex;
       flex-direction: column;
       gap: 10px;
       align-items: center;
       justify-content: space-between;
}

.about-me-image-caption {
       font-size: 1.3rem;
}

.projects-section {
       height: 100vh;
       min-height: 100dvh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 70vw;
}

.projects-header {
       font-size: 5rem;
       text-align: left;
       margin-bottom: 50px;
       margin-top: -20px;
}

.projects-showcase {
       display: grid;
       gap: 10px;
       grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
}

.project-card {
       background: rgba(32, 30, 30, 0.8);
       padding: 10px;
       border-radius: 5px;
}

.project-image {
       max-width: 100%;
       border-radius: 3px;
}

.project-description {
}

.project-longtext {
}
